[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=Open a terminal window
Exec=arcos-shell --open-app=terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
Keywords=shell;bash;command;
